@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron text-center bg-dark text-light">
    <h1 class="display-4">Hello @User.Identity?.Name <br/> welcome to the time sheet management system!</h1>

</div>